:root {
  /* font size */
  --login-font-size: 6rem;
  --login-margin: 1rem;
  /* font family */
  --main-font-family: 'Roboto Mono', monospace;
}

* {
  font-family: var(--main-font-family);
}

body {
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#signup__container {
  width: 80%;
  height: 80%;
  display: flex;
  box-shadow: 10px 5px 30px black;
}
#signup__container > .signup__img {
  background-image: url(./img/signup_page_img.png);
  background-repeat: no-repeat; /* background-image가 컨테이너를 가득 채우지 못할 경우에도 반복하지 않는다. */
  background-size: cover; /* 사이즈가 container에 맞지 않아도 꽉 차도록 채운다. */
  background-position: center; /* background-image가 컨테이너에 가운데로 오도록 한다. */
  /* 여기까지 배경 화면에 이미지를 넣고 브라우저에 맞게 채운 후 반응형으로 만드는 부분이다. */
  display: flex;
  width: 100%;
  flex-basis: 40%;
}
#signup__container > .user__info {
  width: 100%;
  height: 100%;
  flex-basis: 70%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#signup__container > .user__info > #signup__title {
  font-size: var(--main-font-family);
  font-size: var(--login-font-size);
  margin: 1rem;
  text-align: center;
}
#signup__container > .user__info > article {
  display: flex;
  flex-direction: column;
  margin: 0 5rem;
}
#signup__container > .user__info > article > span {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #848380;
}
#signup__container > .user__info > article > input {
  font-size: 1.5rem;
  border: 0;
  border-bottom: 2px solid #e4e6e2;
  background-color: #0000;
}
#signup__container > .user__info > article > input::placeholder {
  color: #e4e6e2;
}
#signup__container > .user__info > .btn__complete__cancel {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
  margin: 2rem 0;
}
#signup__container > .user__info > .btn__complete__cancel > li > .btn__complete,
#signup__container > .user__info > .btn__complete__cancel > li > .btn__cancel {
  border: 0;
  font-size: 1rem;
  background-color: #0000;
  cursor: pointer;
  color: #848380;
}
